body {
    color: #fff;
    background: hsl(227, 10%, 10%);
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}


.button-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 20vh;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    padding: 5px;
    min-height: 80vh;
}

.button-grid > button{
    margin: 3px;
    border-radius: 5px;
}

.button-grid > button:hover {
    animation: pulse 2s;
}

.button-grid > button:active {
  
  opacity: 0.2;
  transform: scale(0.98);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(229, 223, 223, 0.487);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}